* {    
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    place-items: center;
    font-family: sans-serif;
    background: linear-gradient(to right, #fd5e53, red);
}
.dashboard {
    margin-top: 1rem;
    border-radius: 15px;
    padding: .5rem;
}
#test {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
img {
    width: 60%;
    border-radius: 50%;
}
p {
    margin-top: .25rem;
}
#btn {
    margin-top: 0.5rem;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
    font-weight: 700;
    border-radius: .2rem;
    border: 1px solid #fff;
    background-color: #fff;
}
#btn:hover {
    background-color: royalblue;
    color: #fff;
}
.card {
    height: 16rem;
    width: 15rem;
    padding: 5px;
    border-radius: .5rem;
    color: #fff;
    border: 1px solid #fff;
    display: grid;
    place-items: center;
    background-color: #000;
}